@import url("https://fonts.googleapis.com/css2?family=Archivo+Narrow:wght@400;700&family=Libre+Baskerville&family=Mukta:wght@400;700&family=Quicksand:wght@300;500&family=Teko:wght@300;400;500;600;700&display=swap");

#root, html{
  margin: 0 auto;
  background-color: #31304D;
  display: flex;

  width: 100%;
  height: 100vh;
}

.app {
  background-color: #161A30;
  color: #F0ECE5;

  height: 100vh;
  width: 80vw;

  font-family: 'Archivo Narrow';

  padding: 4vw;

  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;

  justify-content: space-evenly;
}

h1{
  margin: 0;
}
  #title{
    font-size: 6vh;
  }

.flex{
  display: flex;
}

.box{
  border-radius: 30px;
  border: 1px solid #F0ECE5;
  padding: 1vw;
  width: 25vw;
}
  .box h1{
    font-size: 4vh;
  }

select{
  margin-top: 1vh;
}

input{
  margin-top: 1vh;
}
  #submit{
    margin-top: 1vh;

    width: fit-content;

    background-color: #F0ECE5;
    color: #161A30;

    border: 1px solid #B6BBC4;
    border-radius: 10px;

    padding: .5vh;
  }
    #submit:hover{
      background-color: rgb(240, 236, 229, .7)
    }
  #delete{
    background: none;

    border-color: #F0ECE5;
    border-radius: 5px;

    color: #F0ECE5;
  }
  #calculate{
    width: fit-content;
    padding: .5vh;
    
    background-color: #F0ECE5;
    color: #161A30;
    
    border: 1px solid #B6BBC4;
    border-radius: 10px;
  }

nav{
  width: 20vw;
  height: 100vh;

  font-size: 4vh;
}

  ul{
    list-style: none;
  }

  li img{
    width: 40px;
    height: 40px;
  }

  a{
    text-decoration: none;
    color: #B6BBC4;
  }

.leftSide{
  height: 80vh;

  flex-direction: column;
  justify-content: space-evenly;
}

#expense{
  accent-color: red;
}

.categories h1{
  font-size: 3vh;
}
.categories ul{
  font-size: 1.5vh;
}

.history{
  text-align: center;
  height: 80vh;
}

.transaction{
  width: 100%;
  
  font-size: 2vh;
  text-align: left;
  color: white;

  justify-content: space-around;

  border: 1px solid #F0ECE5;
  border-radius: 5px;

  margin-bottom: 1vh;

  padding-top: .5vh;
  padding-bottom: .5vh;
}
  .expense{
    background-color: rgba(255, 0, 0, 0.7);
  }
  .income{
    background-color: rgba(0, 128, 0, 0.7);
  }

  .header h1{
    font-size: 2vh;
    margin: 0;
  }

tspan{
  fill: #F0ECE5;
}

.budget{
  width: 20vw;
  height: 50vh;
  font-size: 2vh;

  flex-direction: column;
  justify-content: space-evenly;

  padding-left: 5vw;
  padding-right: 5vw;
}
.budget h1{
  font-size: 1.5vh;
  text-align: center;
  color: #B6BBC4;
}

.cols{
  justify-content: space-between;
}
.col{
  height: 40vh;
  flex-direction: column;
  justify-content: space-between;
}