@import url("https://fonts.googleapis.com/css2?family=Archivo+Narrow:wght@400;700&family=Libre+Baskerville&family=Mukta:wght@400;700&family=Quicksand:wght@300;500&family=Teko:wght@300;400;500;600;700&display=swap");

#root, html{
  margin: 0 auto;
  background-color: lightgrey;
  display: flex;
}

.app {
  background-color: white;

  height: 100vh;
  width: 80vw;

  font-family: 'Archivo Narrow';

  padding: 4vw;

  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

h1{
  margin: 0;
}

.flex{
  display: flex;
}

.box{
  border-radius: 30px;
  border: 1px solid black;
  padding: 1vw;
  width: 25vw;
}

form{
  margin-bottom: 1vh;
  margin-top: .5vh;
}

nav{
  width: 20vw;
  height: 100vh;
}

  ul{
    list-style: none;
  }

  li img{
    width: 20px;
    height: 20px;
  }

  a{
    text-decoration: none;
    color: white;
  }


.mainArea{
  justify-content: space-evenly;
}

.leftSide{
  height: 50vh;

  flex-direction: column;
  justify-content: space-evenly;
}

#expense{
  accent-color: red;
}

.history{
  text-align: center;
  height: 80vh;
}